.pokemon-container { 
  width: 90%;          
  max-width: 500px;    
  margin: 20px auto;   
  padding: 1.5rem;     
}

img {
  max-width: 200px; 
  height: auto;
  display: block;
  margin: 10px auto;
}

.pokemon-type-tag {
  width: 80px; 
  margin-top: 5px;
}

.pokemon-container h3 {
  text-align: center;
  width: 100%;       
  margin-left: 0;   
  margin-right: 0;
  text-transform: capitalize;
}